.about-us-section{
    display:flex;
    padding-top: 120px;
    justify-content: space-around;
}
.images-container{
    width: auto;
    height: auto;
}
// .img1{
//     position:absolute;
//     width:410px;
//     height: 520px;
// }
// .overlay{
//     position: relative;
//     top:297px;
//     left:311px;
// }