
.nav-list{

    .nav-list-container{
        display: flex;
    }

    ul{
    display: flex;
    }

    li{
        margin-right: 42px;
    }
    a{
        font-size: 16px;
        text-decoration: none;
        color: white;

        &:hover{
            color: #FFC814;
            font-weight: 600;
        }
    }
}