.navigation{
    padding-top: 20px;
    padding-bottom: 60px;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    font-weight: 600;
    font-size: 36px;
    color: white;
    text-decoration: none;
}